body{
	font-family: "Verdana", "Helvetica", "Times New Roman";
	background-color: white;
	padding: 20px;
}

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
	
	background-color: #8AE6DB;
	width: 100%;
	margin: auto;
	text-align: center;
}

.header{
	background-color: #53c7df;
	padding: 20px 20px 0px 20px;
	flex: 1 100%;
	
	text-align: center; 
	color: #ffffff;
	background-repeat: no-repeat;
	background-position: 52% top;
	z-index: 1000;
}

.footer{
	background-color: #53c7df;
	padding: 20px;
	flex: 1 100%;
	font-size: 12px;
}

.main{
	box-sizing: border-box;
	-moz-flex: 3 1 70%;
	-webkit-flex: 3 1 70%;
	flex: 3 1 70%;

	background-color: #eee;
}

.feedwrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
	
	background-color: #eee;
	width: 100%;
	margin: auto;
	text-align: center;
}

.taskbox{
	box-sizing: border-box;
	-moz-flex: 3 1 20%;
	-webkit-flex: 3 1 20%;
	flex: 3 1 20%;
	
	background-color: #94dceb;
	padding: 10px 10px;
	float: left;
}

.newsfeed{
	box-sizing: border-box;
	-moz-flex: 3 1 40%;
	-webkit-flex: 3 1 40%;
	flex: 3 1 60%;
	
	background-color: #eba394;
	padding: 20px 50px;
}

.navbox{
	box-sizing: border-box;
	-moz-flex: 1 3 100%;
	-webkit-flex: 1 3 100%;
	flex: 1 3 100%;
	
	background-color: #df6b53;
	padding: 1px;
	font-family: 'Verdana';
	overflow: hidden;
}

.button, .selected, .rightbutton{
	display: inline-block;
	margin: 0px 1px;
	padding: 10px;
	cursor: pointer;
	float: left;
	color: white;
	background: rgba(54, 25, 25, .1)

	-webkit-transition: background .5s ease;
  	-moz-transition: background .5s ease;
  	-o-transition: background .5s ease;
  	transition: background .5s ease;
}

.button:hover, .selected:hover, .rightbutton:hover{
	background: rgba(54, 25, 25, .8)
}

a{
	text-decoration: none;
	color: white;

}
.rightbutton{
	float: right;
}

ul{
    list-style: square inside;
    text-align: left;
}

li{
	padding: 10px;
}

.signinmsg{
	width: 55px;
	font-style: bold;
	color: #21B3D1;
	font-size: 20px;
	margin: auto; 
	padding: 20px;
}

.pagetitle{
	color: white;
	font-size: 30px;
	font-weight: 900;
	padding: 20px;
}

.clicky{
	background-color: #53c7df;
	color: white;
	padding: 15px 0px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 20px;
	width: 275px;
	text-align: center;
	margin: 10px auto 10px auto;
}

.clicky:hover{
	cursor: pointer;
}

.clickable{
	color: #53c7df;
	font-size: 20px;
}

.errormsg{
	font-size: 15px;
	line-height: 1px;
	font-weight: 500;
	background-color: #53c7df;
	padding: 10px;
	width: auto;
	margin: 0px auto 15px auto;
	word-wrap: normal;
}

.tasklist{
	text-align: left;
	line-height: 40px;
}

.signinbubble{
	background-color: #df6b53;
	padding: 40px;
	width: 300px;
	height: auto;
	margin: 20px auto 20px auto;
	border-radius: 50px;
}

.bigbutton{
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	padding: 20px;
}

.field{
	width: 250px;
	font-size: 20px;
	padding: 10px;
}

.check{
	background-color: #53c7df;
	color: white;
	padding: 0px 3px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 20px;
	width: auto;
	text-align: center;
}

.task{
	background: none;
	border-bottom: 1px solid #CF2400;
	padding: 20px;

	-webkit-transition: background .5s ease;
  	-moz-transition: background .5s ease;
  	-o-transition: background .5s ease;
  	transition: background .5s ease;
}

.task:hover{
	background: rgba(235, 141, 122, .8);

}

.time{
	font-size: 15px;
	float: right;
	color: #CF2400;
}

.name{
	font-size: 17px;
	float:left;
	font-weight: 900;
}

.con{
	text-align: left;
	padding: 30px;
}

.showwrapper{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
}

.mytasks{
	line-height: 30px;
	box-sizing: border-box;
	-moz-flex: 3 1 20%;
	-webkit-flex: 3 1 20%;
	flex: 3 1 20%;
	
	background-color: #94dceb;
	padding: 10px 10px;
	float: left;

}

.finishedtasks{
	box-sizing: border-box;
	-moz-flex: 3 1 20%;
	-webkit-flex: 3 1 20%;
	flex: 3 1 20%;
	
	background-color: #BFF4FF;
	padding: 10px 10px;
	float: left;

}

.following{
	box-sizing: border-box;
	-moz-flex: 3 1 20%;
	-webkit-flex: 3 1 20%;
	flex: 3 1 20%;
	
	background-color: #94dceb;
	padding: 10px 10px;
	float: left;

}

.smallbutton{
	background-color: #53c7df;
	color: white;
	padding: 5px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 15px;
	width: auto;
	text-align: center;
	margin: 10px auto 10px auto;
}

.userbox{
	padding: 10px 40px;
	width: 500px;
	height: auto;
	margin: 20px auto 20px auto;
	border-radius: 50px;
	background-color: #94dceb;
}



