<h3> Welcome to Tasker! </h3>

<p> here you can see links that go to your profile and settings </p>
<p> This is where you will see a newsfeed of all the tasks that your friends are currently working on! get excited bc its gonna be super cool B) </p>
