<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Tasker
	</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">
</head>

<body>
<div class="wrapper">
	<header class="header">
		<h1> Welcome to Tasker! </h1>
	</header>

	<div class="navbox">
		<div class="button"> Home </div>
		<div class="button"> My profile </div>
		<div class="button"> Settings </div>
		<div class="button login"> Log in/Sign up </div>
	</div>

	<div class="main">
		<div class="feedwrapper">
			<div class="taskbox">
				<h3> My To-Do List </h3>
				 <ul> 
				 	<li> here you will see a list of all the tasks you're currently working on </li>
				 	<hr>
				 	<li> here you will see a list of all the tasks you're currently working on </li>
				 	<li> here you will see a list of all the tasks you're currently working on </li>
				 	<li> here you will see a list of all the tasks you're currently working on </li>
				 	<li> here you will see a list of all the tasks you're currently working on </li>

				 </ul>
			</div>
			<div class="newsfeed">
				<p> 
				This is where you will see a newsfeed of all the tasks that your friends are currently working on! get excited bc its gonna be super cool B) 
				</p>
			</div>
		</div>
	</div>
	<footer class="footer">
		Copyrighted by us in 2015
	</footer>
</div>
</body>
</html>